.main{
    width: 100%;
    height:calc(100vh);
    background-color: #fff;
    padding-top: 5%;
    
}
.titel{
    /* position: absolute; */
    font-style: normal;
    font-weight: 800;
    font-size: 22px;
    line-height: 25px;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.56);
    text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
}
.input_label{
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height, or 41% */
    color: #000000;

}
.lgc-bg-inverse {
    background-color: rgb(22, 50, 92);
}
.input_section{
    width: 80%;
    height: 80%;
    /* margin-top: 10%; */
    margin-left: auto;
    margin-right: auto;
    /* background-color: aqua; */
}
.slds-grid.slds-wrap {
    margin-top: 2%;
}
.input_box{
    width: 100%;
}
.bt{
    /* width: 100%; */
    background-color: #ffffff;
    width: 250px;
    margin-right: auto;
    margin-left: auto;

}
.bt-center{
    background-color: #ffffff;
    width: 100%;
    padding: var(--lwc-spacingMedium,1rem);
}
.qf-standard-button {
    height: 34px;
    width: 110px;
    margin-right: 15px;
    border-radius: 30px;
    background-color: #6699CC;
    font-size: 15px;
    color: #ffffff;
    border: none;
}


.email_to{
    display: flex;
    width: 100%;
}
.emailsend{
    padding-top: 3%;
    width: 70%;
}

.email_reply{
    padding-top: 2%;
}


.input-box{
    border: 1px solid #D3D3D3;
    height: 30PX;
    border-radius: 5PX;
    padding: 2px;
}

.add{
    display: flex;
    flex-wrap: nowrap;
}
.email_subject{
    padding-top: 2%;
}
.email_message{
    width: 80%;
    padding-top: 2%;
}

.checkbox{
    padding-top: 2%;
}
.toadd{
    border: solid;
    padding: 0px 16px 0px 12px ;
    border-width: thin;
}